.root {
  border: 1px solid white;
  padding: 10px;
  background: gray;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.disabled {
  cursor: default;
  pointer-events: none;
}

.disabledOverlay {
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gray;
  opacity: 0.5;
}