.root {
  display: flex;
  background: url('../img/bg.jpg') no-repeat center center;
  flex: 1;
  background-size: contain;
  width: 960px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.monsterHp {
  position: absolute;
  left: 402px;
  top: 532px;
}

.upgradeButton {
  position: absolute;
  left: 200px;
  top: 232px;
}